    <nav class="navbar navbar-default" id="nav-color">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:white">Mood Tracker 3000 </a>
        <img class="emojiGroup" src="/images/emojiGroupIcons.svg" />
        </div>

        <ul class="nav navbar-nav navbar-right">
            {{!-- <li class="nav-item">
                <a class="nav-link active" href="/" style="color:white">Home <span class="sr-only">(current)</span></a>
            </li> --}}
            {{#if isAuthenticated}}

            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:white">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userDash" style="color:white">Dashboard</a>
            </li>
            {{else}}

            <li class="nav-item">
                <a class="nav-link" href="/login" style="color:white">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register" style="color:white">Register</a>
            </li>
            {{/if}}

        </ul>
        </div>
    </nav>
