#happyEmoji {
    height: 20px;
    margin-top: 12.5px;
}

#sadEmoji {
    height: 20px;
    margin-top: 12.5px;
}    

h1 {
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2.5px;
    color: #0073e5;
    font-size: 68px;
}

#loginHeader {
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2.5px;
    color: #0073e5;
    font-size: 68px;
}

.emojiGroup {
    height: 20px;
    margin-top: 12.5px;
}
    
#emojiLogin {
    height: 125px;
}

#nav-color{
    background-color: #0073e5; 
    font-family: 'Francois One', sans-serif;
}

#edit, #delete {
    background-color: rgba(255, 0, 101, 0.75);
    color: white;
    border-color: white;
}   

#blogPost {
    background-color: rgba(255, 0, 101, 0.75);
    border-color: white;
    color: white;
    position: relative;
    left: 200px;
    border-radius: 2.5px;
}

#summaryButton {
    background-color: #FF00EB;
    color: white;
    position: relative;
    left: 200px;
}

h3 {
    font-weight: bold;
}

#submit {
    background-color: rgba(255, 0, 101, 0.75);
    color: white;
}

#registerSubmitButton {
    background-color: rgba(255, 0, 101, 0.75);
    color: white;
    border-color: white;
}

.titles {
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2.5px;
    color: #0073e5;
    font-size: 68px;
}

#postHistory {
    margin-top:5px;
}

.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
    
